@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

.piano-scroll {
  overflow-y: auto;
}


.note-dot {
  width: 16px;
  height: 16px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.item-timeline {
  top: 0;
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
}